.App {
	text-align: center;
}

.icon {
	scale: 2.75;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2vw;
	margin-bottom: 30px;
}

.padded:hover {
	opacity: 0.8;
}

.padded {
	padding: 30px;
	cursor: pointer;
	/* background-color: red; */
}

.title {
	font-size: 44px;
	font-weight: bold;
}

.blue {
	color: #61dafb;
}

.blue:hover {
	text-decoration: underline;
	cursor: pointer;
}

.footer {
	font-size: medium;
	opacity: 40%;
	font-style: italic;
	margin-bottom: 4%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
